.staff_container {
    height: 100px;
    width: 100%;
}

// .staff {
//   height: 100px;
//   width: 100%;
// }

.note {
    opacity: 0;
    pointer-events: none;
    animation: fly_note 7s linear infinite;
}

.note_0 {
    animation-delay: 1s;
}
.note_1 {
    animation-delay: 2s;
}
.note_2 {
    animation-delay: 3s;
}
.note_3 {
    animation-delay: 4s;
}
.note_4 {
    animation-delay: 5s;
}

@keyframes fly_note {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateX(100px);
        opacity: 0;
    }
}


// .staff-container {
//   width: 80vw;
//   height: 100px;
//   overflow: hidden;
// }

// .staff {
//   width: 100%;
//   height: 100px;
// }

// .note {
//   animation: fly-note 6s linear infinite;
//   transform-box: fill-box;
//   transform-origin: center;
// }

// .note-1 { 
//     animation-delay: 1s;
// }
// .note-2 { animation-delay: 2s; }
// .note-3 { animation-delay: 3s; }
// .note-4 { animation-delay: 4s; }

// @keyframes fly-note {
//   0% {
//     transform: translateX(0);
//     opacity: 0;
//   }
//   10% {
//     opacity: 1;
//   }
//   90% {
//     opacity: 1;
//   }
//   100% {
//     transform: translateX(600px);
//     opacity: 0;
//   }
// }
