.staff_container {
    height: auto;
    width: 80vw;
}

.staff {
  height: auto;
  width: 100%;
}

.double_note,
.single_note {
    opacity: 0;
    pointer-events: none;
}

.double_note {
    scale: 1.53;
    animation: fly_double_note 7s linear infinite;
    animation-delay: calc(var(--note-appear-order) * 500ms);
}

.single_note {
    scale: 2.05;
    animation: fly_single_note 7s linear infinite;
    animation-delay: calc(var(--note-appear-order) * 500ms);
}

@keyframes fly_double_note {
    0% {
        transform: translateX(635px);
        opacity: 0;
    }
    5% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    95% {
        opacity: 0;
    }
    100% {
        transform: translateX(-10px);
        opacity: 0;
    }
}

@keyframes fly_single_note {
    0% {
        transform: translateX(475px);
        opacity: 0;
    }
    4% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    95% {
        opacity: 0;
    }
    100% {
        transform: translateX(-10px);
        opacity: 0;
    }
}
