.compose_melody_page_container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.compose_melody_page_container h1 {
    font-size: 3rem;
    @include apply-font($font-headings);
}

.melody_setting_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 10vw;
    grid-row-gap: 5vh;
}

.error_message {
    color: $red;
    font-size: 1rem;
}