.compose_melody_page_container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.compose_melody_page_container h1 {
    font-size: 4rem;
    @include apply-font($font-headings);
}