#root {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.main_app_layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  color: $white;

  position: relative;
  background: $main-gradient;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('assets/images/background_overlay.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.04;
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

#ai_composer_logo_container {
  width: 100vw;
  height: 10rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0 0 0 3rem;
}

#ai_composer_logo_container img {
  max-height: 8rem;
  width: auto;
  cursor: pointer;
}