.home_page_container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.welcome_text_container {
    width: 70vw;
    height: auto;
}

.welcome_text_container p {
    font-size: clamp(1rem, 2rem, 3vw);
}

.home_page_container h1 {
    @include apply-font($font-headings);
    font-size: clamp(1rem, 3rem, 3vw);
}



.pros_of_ai_composer_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    height: auto;
}

.single_pros_of_ai_composer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: $white;
    color: $Text-Black-Texts;
    border-radius: 1em;
    height: auto;
    width: 20vw;
    padding: 1em 2em;
    box-shadow: 0.7em 0.7em 0.7em 0.2em rgba(0,0,0, 0.25);
}

.single_pros_of_ai_composer_container h2 {
    background: $main-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

    // @include apply-font($font-headings);
    font-size: 2rem;

    @include respond(lg){
        font-size: 1.5rem;
    }

    @include respond(md){
        font-size: 1rem;
    }

    @include respond(sm){
        font-size: 0.7rem;
    }
    
}

.single_pros_of_ai_composer_container div:nth-of-type(2) {
    font-size: 1.2rem;

    @include respond(lg){
        font-size: 1rem;
    }

    @include respond(md){
        font-size: 0.8rem;
    }

    @include respond(sm){
        font-size: 0.5rem;
    }

    @include apply-font($font-general);
}

.speedometer_icon,
.infinity_icon {
    width: auto;
    height: 3rem;

    @include respond(lg){
        height: 1.5rem;
    }

    @include respond(md){
        height: 1rem;
    }

    @include respond(sm){
        height: 0.7rem;
    }

    fill: $light-black;
}

.music_note_icon {
    width: auto;
    height: 2rem;

    @include respond(lg){
        height: 1.5rem;
    }

    @include respond(md){
        height: 1rem;
    }

    @include respond(sm){
        height: 0.7rem;
    }

    fill: $light-black;
}

.speedometer_icon {
    transform: scaleX(-1);
}

.speedometer_icon path {
    fill: $light-black;
}